body {
    background-color: rgb(207, 231, 223);
    
}

button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    flex: 1;
}

#main-container {
    width: 300px;
    height: 500px;
    background-color: rgb(61, 61, 61);
    padding: 15px;
    margin: 200px auto;
    border-radius: 15px;
}

#button-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2px;
    margin: 10px auto;
}

.btn-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2px;
}

#clear-btn, #backspace-btn {
    flex: 1;
}

#period-btn, #zero-btn {
    flex: 0.175 0 auto;
}

#equals-btn {
    flex: 1;
}

#screen-container {
    height: 160px;
    width: auto;
    background-color: darkgray;
    margin: 10px 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.number-btn {
    background-color: aliceblue;
}

 .action-btn {
    background-color: rgb(135, 190, 194);
 }

 .operator-btn {
    background-color: rgb(255, 165, 0);
 }

 .del-btn {
    background-color: rgb(253, 82, 91);
 }

 /* #container {
    background-color: rgb(110, 74, 20);
 } */

 button:hover {
    background-color: rgba(230, 242, 253, 0.719);
 }